name: CI/CD for Flask App

on:
  push:
    branches: ["staging"]

  release:
    types: [published]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    env:
      MONGO_URI: ${{ secrets.MONGO_URI }}
      SECRET_KEY: ${{ secrets.SECRET_KEY }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: pytest


  deploy-staging:
    needs: build-and-test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Prepare app for staging
        run: |
          echo "Simulating deployment to STAGING environment..."
          mkdir -p ../deploy-staging
          cp -r . ../deploy-staging/

      - name: Upload staging artifact
        uses: actions/upload-artifact@v4
        with:
          name: flask-staging
          path: ../deploy-staging
